<footer class="text-center" style="background-color: #F8405E; padding: 20px 0; box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);          
margin-top: auto; background-color: #F8405E; color: #fff; text-align: center; padding: 10px 0; border-top: 5px solid #FFF7EB;">
    <div class="container">
        <p class="fs-5" style="color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); font-family: 'Poetsen One', sans-serif;">
            &copy; FATEC Registro - 2025 <br>
            Github: <a href="https://github.com/Joao1paulo" target="https://github.com/Joao1paulo" style="color: #fff; text-decoration: none;">https://github.com/Joao1paulo</a>
        </p>
    </div>
</footer>

</body>

<script src="/javascript/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>