<nav class="navbar navbar-expand-lg" style="box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.4); background-color: #FFF7EB; border-bottom: 5px solid #F8405E; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px;">
  <div class="container-fluid">
    
    <!-- Botão responsivo -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links e imagem -->
    <div class="collapse navbar-collapse justify-content-center fs-4" id="navbarNav">
      <ul class="navbar-nav align-items-center gap-5" style="font-family: 'Poetsen One', sans-serif;">
        <li class="nav-item">
          <img src="/images/simbolo.png" alt="Descrição" style="height: 40px;" />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pedidos">Pedidos</a>
        </li>
        <ul class="navbar-nav align-items-center gap-5" style="font-family: 'Poetsen One', sans-serif;">
          <li class="nav-item">
            <img src="/images/simbolo.png" alt="Descrição" style="height: 40px; transform: scaleX(-1);" />
          </li>
      </ul>
    </div>

  </div>
</nav>